---
import { joinURL, withTrailingSlash } from "ufo";

import Layout from "./Layout.astro";

import { GITHUB_URL, PRODUCTION_BASE_URL } from "../lib/info.js";

interface Props {
  frontmatter: {
    pathname: string;
    lang: string;
    title: string;
    description: string;
  };
}

const { BASE_URL } = import.meta.env;
const { pathname, lang, title, description } = Astro.props.frontmatter;
---

<Layout lang={lang} title={title}>
  <Fragment slot="head-info">
    <meta name="description" content={description} />
    <link
      rel="canonical"
      href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, pathname))}
    />
  </Fragment>

  <main class="white-box">
    <slot />

    <nav class="page-nav" aria-label="Page navigation">
      <ul>
        <li>
          <a href={withTrailingSlash(BASE_URL)}>Back to Top</a>
        </li>
        <li>
          <a
            href={withTrailingSlash(GITHUB_URL)}
            target="_blank"
            rel="noopener noreferrer">GitHub Repository</a
          >
        </li>
      </ul>
    </nav>
  </main>
</Layout>
